@media only screen and (max-width: 1200px) {
    .discord-card__text {
      width: 85%;
      padding-left: 0px;
      padding-top: 55px;
      padding-right: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }