@font-face {
  font-family: 'Epilogue';
  src: local('Play-Regular'), url('../../src/assets/fonts/Epilogue-Regular.ttf');
}

.text-h1,
.text-h2,
.text-h3,
.text-h4 {
  font-family: 'Epilogue' !important;
}

.text-h1 {
  font-size: 128px !important;
  font-weight: 600 !important;
  line-height: normal !important;
}

.text-h2 {
  font-size: 48px !important;
  font-weight: 400 !important;
  line-height: 60px !important;
}

.text-h3 {
  font-size: 32px !important;
  font-weight: 400 !important;
  line-height: 40px !important;
}

.text-h4 {
  font-size: 24px !important;
  font-weight: 700 !important;
  line-height: 32px !important;
}

.text-subtitle1,
.text-subtitle2 {
  font-family: 'Epilogue' !important;
}

.text-subtitle2 {
  font-size: 24px !important;
  font-weight: 400 !important;
  line-height: 32px !important;
}

.text-subtitle1 {
  font-size: 36px !important;
  font-weight: 400 !important;
  line-height: 46px !important;
}

.text-subtitle3 {
  color: #162e3c !important;
  font-size: 15px !important;
  font-weight: 700 !important;
  line-height: 24px !important;
}
